/* ---------------------- */
// Colors

$color-background-dark: black;

$color-background: black;
$color-text-primary: red;
$color-text-secondary: blue;

$color-red: red;
$color-blue: blue;
$color-yellow: #fbeeca;
$color-green: green;
$color-pink: #f9e0fa;

/* ---------------------- */
// Media Queries

// [from Mozilla's design system Protocol]
// (https://protocol.mozilla.org/)

$mq-xs: screen and (min-width: 320px);
$mq-sm: screen and (min-width: 480px);
$mq-md: screen and (min-width: 768px);

/* ---------------------- */
/* Hero. */

.hero {
    width: 75%;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: auto;

    .hero-img {
        float: left;
    }

    .hero-copy {
        width: 50%;
        float: right;
        padding: 35px;
    }
}