@import
  "lib",
  "normalize",
  "components/header",
  "components/navigation",
  "layouts/menu",
  "layouts/about"
;

/* ---------------------- */
/* Global. */ 

body {
    font-family: sans-serif;
}

main {
    display: block;
}

a {
  text-decoration: none;
}

/* ---------------------- */
/* Layout */

.page {
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
  width: 75%;
}