<!doctype html>
<html>
  {% seo %}
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include header.html %}
    {% include navigation.html %}
    <main>
        {{ content }}
    </main>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>